<router-outlet></router-outlet>

<div class="page-holder align-items-center py-4 bg-gray-100 vh-100" style="background-color: #F9E2AE">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4"  *ngIf="userlogin">
        <br>
        <br>
        <br>
        <div class="card">
          <div class="card-header px-lg-5" style="background-color: #85CBCC">
            <div class="card-heading text-primary"> <h1 style="color:#000000">BoActive</h1></div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Inicia sesion!</h3>
            <p class="text-muted text-sm mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-floating mb-3">
                <input formControlName="username" class="form-control" id="floatingInput" type="user"required>
                <label for="floatingInput">Usuario</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="password" class="form-control" id="floatingPassword" type="password" required>


                <label for="floatingPassword">Contraseña</label>
              </div>
             <!-- <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>
              </div>-->

              <button [disabled]="!loginForm.valid" class="btn btn-success pull-right"  style="background-color:#A7D676; color: #020202" >

                Ingresar</button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4" style=" background-color:#A8DEE0">

            <div class="text-sm text-muted"> <a style="color: #000000">No tienes una cuenta?</a> <a style="color: blue" routerLink="/registro">Registrate</a>.</div>
           <br>
            <div class="text-sm text-muted"> <a style="color: #000000">Olvidaste tu contraseña?</a> <a style="color: blue" routerLink="/recuperacion">Recuperar cuenta</a>.</div>



          </div>



        </div>
      </div>

      <br>
      <br>


       <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"><img class="img-fluid mb-4" he ="700" src="./assets/Banner_BOActive.png" alt="" >

       </div>
     </div>
   </div>
 </div>








<div class="modal fade" id="modalVerificacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content align-content-center">
      <div class="modal-header">
        <h3 class="modal-title col-11 text-center">Verifica tu correo</h3>
        <button id="cerrar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>


      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="blue" class="bi bi-envelope-exclamation" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
        </svg>
        <h6>Enviamos un correo de verificacion a:</h6>
        <h6>el correo va aqui</h6>
        <button class="btn btn-primary" id="reenviar" type="button" style="background-color:#6B7A40" name="reenviarSubmit">Reenviar correo</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="modalVerificacionT" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content align-content-center">
      <div class="modal-header">
        <h3 class="modal-title col-11 text-center">Verificacion exitosa</h3>
        <button id="cerrar1" type="button" class="btn-close" style="background-color:#6B7A40" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-envelope-check" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
          <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
        </svg>
        <h6>Felicidades</h6>
        <h6>Su cuenta ha sido verificada</h6>
        <button class="btn btn-primary" id="iniciar" type="button" style="background-color:#6B7A40" name="reenviarSubmit">Reenviar correo</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="modalVerificacionF" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content align-content-center">
      <div class="modal-header">
        <h3 class="modal-title col-11 text-center">Verificacion fallida</h3>
        <button id="cerrar2" type="button" class="btn-close" data-bs-dismiss="modal" style="background-color:#6B7A40" aria-label="Close" ></button>
      </div>


      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="red" class="bi bi-envelope-x" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
          <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0Z"/>
        </svg>
        <h6>Algo salio mal</h6>
        <h6>Tu correo electronico no pudo ser verificado, vuelve a ingresar los datos :(</h6>
        <button class="btn btn-primary" id="volver" type="button" name="reenviarSubmit" style="background-color:#6B7A40">Registrarse</button>
      </div>
    </div>
  </div>
</div>



