<router-outlet></router-outlet>
<div class="page-holder align-items-center py-4 bg-gray-100 vh-100" style="background-color: #CEA660">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4"  *ngIf="userlogin">
        <div class="card">
          <div class="card-header px-lg-5" style="background-color: #6B7A40">
            <div class="card-heading text-primary" style="color:#F3EDE0">Ingreso</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Inicia sesion!</h3>
            <p class="text-muted text-sm mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <form id="loginForm" >
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" type="email" placeholder="name@example.com" ngModel required>
                <label for="floatingInput">Correo Electronico</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingPassword" type="password" placeholder="Password" required>


                <label for="floatingPassword">Contraseña</label>
              </div>
             <!-- <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>
              </div>-->


              <button class="btn btn-primary" style="background-color:#6B7A40"  data-bs-toggle="modal" type="submit" >Ingresar</button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4" style=" background-color:#745D20">

            <div class="text-sm text-muted"> <a style="color: #F3EDE0">No tienes una cuenta?</a> <a style="color: blue" href="/registro">Registrate</a>.</div>
          </div>
        </div>
      </div>

       <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"><img class="img-fluid mb-4" width="1000" src="https://datos.gob.es/sites/default/files/styles/image_json_ld/public/blog/image/imagen_post_35.jpg" alt="" >
         <h1 class="mb-4"><br  class="d-none d-lg-inline" style="color:#F3EDE0">Sistema georeferenciado.</h1>
         <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
       </div>
     </div>
   </div>
 </div>


