*{
    --color1:#745d20;
    --color2:#cea660;
    --color3:#f3ede0;
    --color4:#6b7a40;
    --text1:40px;
    --text2:20px;
    --text3:10px;
    color: var(--color1);
    padding: 0;
    margin: 0;
    font-size: 1vw;
}

#contenido_total{
    background: var(--color3);
    z-index: 1200;
    position: fixed;
    width: 100%;
    
}

@media screen and (min-width: 1000px){
    div#nav-mobile{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    div#nav-web{
        display: none;
    }
    div#nav-mobile{
        display: inline-block !important;
        width: 100%;
    }
    #img-logo{
        width: 20vw !important;
        height: 20vw !important;
        overflow: auto;

    }
    #cabecera-con-hover i{
        width: 15vw;
        height: 15vw;
        font-size: 8vw;
    }
    #cabecera-con-hover i:hover #opciones-nav-mobile{
        display: flex !important;
    }
    #cabecera-con-hover i #opciones-nav-mobile{
        display: none !important;
    }
    #cabecera-con-hover{
        padding-left: 10vw !important;
    }
}

#contenido-total,
#contenido-total::before,
#contenido-total::after {
    box-sizing: inherit;
}
#titulo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text1);
    border-bottom: 2px solid var(--color1);
} 
nav{
    padding: 0;
    color: var(--color3);
    font-size: var(--text2);
}
nav li{
    padding: 10px;
    border-radius: 10px;
}

nav li:hover{
    background-color: var(--color3);
    color: var(--color1) !important;
    font-size: 22px;
    transition-duration: 1s;
}

nav a{
    background-color: transparent;
    color: var(--color1) !important;
}
#opcion-servicios:hover #menu-interno-servicios,
#opcion-sucursales:hover #menu-interno-sucursales{
    display:block;
    width: auto;
    
}
#menu-interno-servicios,
#menu-interno-sucursales{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f3ede0d1;
}

nav{
    font-size: 20px;
}
nav ul{
    list-style: none;
}
.nav-item{
    width: 20vw !important;
}
nav li:hover{
    background-color: var(--color2);
}
#nav,nav,nav div{
    background-color: var(--color3);

}
.nav-link{
    text-align: center;
}
/* Titulo de navegador */
/* #titulo:hover #cabecera-sin-hover{
    display:none;
    transition-timing-function: ease-in-out;
    transition-duration: 5s !important;

}*/
#titulo #cabecera-con-hover{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 100px;
} 
#titulo #img-logo{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 5px;
    margin-right: 100px;
}
/* #contenido_total:hover #cabecera-con-hover{
    display: flex;
    transition-duration: 3s !important;
    
}
#contenido_total:hover #cabecera-sin-hover{
    display: none;
    transition-duration: 3s !important;

} */

/* 
.nav-item:hover{
    background-color: blue;
}
.nav-item:hover .nav-link{
    background-color: blue;
} */