*{
    --color1:#745d20;
    --color2:#cea660;
    --color3:#f3ede0;
    --color4:#6b7a40;
    --text1:40px;
    --text2:20px;
    --text3:10px;
    color: var(--color1);
    background: var(--color3);

}
#titulo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text1);
    border-bottom: 2px solid var(--color1);
} 
nav{
    padding: 0;
    color: var(--color3);
    font-size: var(--text2);
}
nav li{
    padding: 10px;
    border-radius: 10px;
}

nav li:hover{
    background-color: var(--color3);
    color: var(--color1) !important;
    font-size: 22px;
    transition-duration: 1s;
}

nav a{
    background-color: transparent;
    color: var(--color1) !important;
}

