<div id="contenido_total">
    <div id="nav-web">
      <div id="titulo">
        <div id="cabecera-con-hover">
          <img id="img-logo" src="./../../../assets/images/logo_pagina_taller.jpg" alt="">
          <p>APP...NEGOCIOS</p>
        </div>
      </div>
      <div id="nav">
          <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
  
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item"  id="opcion-servicios">
                      <a class="nav-link">Servicios</a>
                      <ul class="nav-item" id="menu-interno-servicios">
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/adm/lista-negocio">Listado</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/adm/negocio">Crear</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/adm/editar-negocio">Editar</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item menus-internos" id="opcion-sucursales">
                      <a class="nav-link">Sucursales</a>
                      <ul class="nav-item" id="menu-interno-sucursales">
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/adm/lista-sucursal">Listado</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/adm/crear-sucursal">Crear</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/adm/editar-sucursal">Editar</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/adm/listado-rating-menu">Rating sucursales</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/adm/dashboard"  >Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/adm/redes-sociales"  >Redes sociales</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
    </div>
    <div id="nav-mobile">
      <div id="titulo">
        <div id="cabecera-con-hover">
          <i class="fa fa-bars"></i>
          <img id="img-logo" src="./../../../assets/images/logo_pagina_taller.jpg" alt="">
        </div>
      </div>
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;" id="opciones-nav-mobile">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Customers
            </a>
          </li>
        </ul>
      </div>
      
    </div>
    <!-- <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Orders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Customers
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="32" height="32">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div> -->
</div>
