<app-navbar></app-navbar>
<body>
  <div class="container">
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" style="background-color: #f3ede0">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
              <input
                class="form-control form-control-lg form-control-borderless"
                type="search"
                placeholder="Busca un usuario"
                (change)="search($event)"
              />
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button
                class="btn btn-lg btn-success"
                type="submit"
                style="background-color: #A7D676; color: #020202"
              >

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>

  <table
    class="table justify-content-center text-center"
    style="background-color: #f3ede0"
  >
    <thead>
      <tr>
        <th>Nro.</th>
        <th>Nombre Completo</th>
        <th>Usuario</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor=" let data of filteredData | paginate: { itemsPerPage: 10, currentPage: pages }"class="tableRow" >
        <td>
          {{ data.idUser }}
        </td>
        <td>
          {{ data.name }}
        </td>
        <td>
          {{ data.nickname}}
        </td>
        <td>
          {{data.roles[0].name }}
        </td>
        <td>
          <button
            class="btn btn-success pull-right"
            id="edit"
            data-bs-toggle="modal"
            data-bs-target="#modalEditUsuario"
            style="background-color: #A7D676; color: #020202"
            (click)="setUser(data)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pages = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
</body>

<div
  class="modal fade"
  id="modalEditUsuario"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo"> <b> Editar rol de usuario</b> </h5>
        <button
          id="cerrar"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #cerrarEdit

        ></button>
      </div>
      <form (ngSubmit)="saveUser()" *ngIf="this.user!= null">
        <div class="modal-body">
          <div class="row">
            <div class="col-5">
              <b>Nombre completo:</b>
            </div>
            <div class="col-7">
              {{this.user.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <b>Usuario:</b>
            </div>
            <div class="col-7">
              {{this.user.nickname}}
            </div>
          </div>
          <b>Rol:</b>
          <br>
          <br>
          <select [(ngModel)]="roles" name="rol" class="form-select">
            <option value="Administrador">Administrador</option>
            <option value="Dueño de negocio">Dueño de negocio</option>
            <option value="Cliente">Cliente</option>
          </select>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            style="background-color: #A8DEE0; color: #020202"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            style="background-color: #A7D676; color: #020202"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
