#container {
    background: var(--color1);
    min-height: 100%;
  }

  
#btnSucursales {
    display: block;
    width: 100%;
    color: #fff;
    background-color: var(--color2);
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    height: 55px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

#btnEliminar {
    display: block;
    width: 100%;
    color: #fff;
    background-color: var(--color2);
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    height: 55px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
#botones-opciones{
    padding: 0 auto;
    width: auto;
    text-align: center;
}
@media (max-width:800px){
    #botones-opciones{
        display: flex;
        flex-direction: row;
        padding-top: 3vh;
    }
    #contenedor-negocio{
        justify-content: center !important;
    }
}