<div class="container">
    <div class="form-group">
        <label for="cantidad">Nombres negocios </label>
        <select [(ngModel)]="negocioSeleccionado" (change)="buscar()" class="browser-default custom-select">
        <option *ngFor="let i of negocios;" [ngValue]="i">{{i.name}}</option>
        </select>
    </div>
    <div class="container">
          <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Direccion</th>
                  <th scope="col"style="width:400px;">Calificacion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rating of listadoRating">
                  <td>{{rating.address}}</td>
                  <td style="width: 400px;">
                    <ngx-star-rating [(ngModel)]="rating.rating" [disabled] ="true"></ngx-star-rating>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>