<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="dashboard-admin.component.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
</head>

	<app-nav-style></app-nav-style>
	<div class="container">
	    <div class="row justify-content-center">
			<div style="width: 90%; height: 50px">
				<app-nav></app-nav> 
			</div>
			<div class="brand-wrapper">
				<p class="register-card-title" style=" padding: 10px;" >
				  	ESTADÍSTICAS DE NEGOCIOS
				</p>
			</div>              
	    </div>
        
        <p class="register-card-title" style=" padding: 10px;" >
            CUADRO DE DATOS
        </p>
        <!-- Creación del formulario -->
        <div class="row">
    
    <!-- Creación de la tabla  -->
    <div class="col-9">
        <table class="table">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col" style="color: #ffffff;">NOMBRE DEL NEGOCIO</th>
                    <th scope="col" style="color: #ffffff;">CANTIDAD DE SUCURSALES</th>
  
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr *ngFor="let categoria of branches">
                    <td>{{categoria.name}}</td>
                    <td>{{categoria.activeBranchCount}}</td>
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
  </div>
    <p class="register-card-title" style=" padding: 10px; margin-top: 20px;" >
    GRÁFICO DE BARRAS
    </p>
    <div>
        <div>
        <div style="display: block" *ngIf="barChartData">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="chartColors">
            </canvas>
        </div>
        
        </div>
    </div>
    <p class="register-card-title" style=" padding: 10px;" >
        PIE CHART
    </p>	
    <div>
        <div class="chart" *ngIf="pieChartData">
            <canvas baseChart
              [datasets]="pieChartData"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [legend]="pieChartLegend"
              [chartType]="pieChartType"
              [colors]="chartColors">
            </canvas>
        </div>       
    </div>
</div> 
