body {
    background: url(http://farm5.staticflickr.com/4139/4825532997\_7a7cd3d640\_b.jpg);
    background-size: cover;
    height: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #666;
  }
   
  #signup {
    width: 600px;
    height: auto;
    padding: 20px;
    background: #fff;
    margin: 80px auto;
    position: relative;
    min-height: 300px;
  }
  #fieldsets {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 8px;
    position: relative;
    
  }
   
  input[type=radio]{
    margin: 6px;
    display: inline-block;
  }
  fieldset {
    border: none;
    position: absolute;
    left: -640px;
    width: 600px;
    padding: 10px 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    opacity: 0;
    
  }
  input[type=submit] {
    display: none;
    border: none;
  }
  #section-tabs {
    font-size: 0.8em;
    height: 50px;
    position: relative;
    margin-top: -50px;
    margin-bottom: 50px;
    padding: 0;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
  
    }
  
  .error {
    color: #bf2424;
    display: block;
  }
  input.error, textarea.error {
    border-color: #bf2424;
   
  }
  label.error {
      margin-bottom: 20px;
  }
  input.valid {
    color: green;
  }
  label.valid {
    position: absolute;
    right: 20px;
  }
  input+.valid, textarea+.valid {
    display: none;
  }
  .valid+.valid {
    display: inline;
    position: absolute;
    right: 10px;
    margin-top: -36px;
    color: green;
  }
   
  .btn {
    border: none;
    padding: 8px;
    background: #2cbab2;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Merriweather Sans', sans-serif;
  }
  
  
  
  .section {
      position: relative;
      height: 100vh;
  }
  
  .section .section-center {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  #booking {
      font-family: 'Alice', serif;
      background: #6b7a40;
  }
  
  .booking-form {
      position: relative;
      max-width: 912px;
      width: 100%;
      margin: auto;
      background: #F3EDE0;
      border-radius: 6px;
      -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
  }
  
  .booking-form .booking-bg {
      position: absolute;
      left: 25px;
      top: -25px;
      bottom: -25px;
      width: 45%;
      height: 104%;
      background-size: cover;
      background-position: center;
      border-radius: 6px;
      padding: 15px;
      overflow: hidden;
  }
  
  .booking-form .booking-bg::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #CEA660;
   
  }
  
  .booking-form>form {
      margin-left: 425px;
      padding: 30px;
  }
  
  .booking-form .form-header {
      margin-bottom: 30px;
      
      position: relative;
      z-index: 20;
  }
  
  .booking-form .form-header h2 {
      font-family: 'Playfair Display', serif;
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 900;
      color: #fff;
      font-size: 42px;
      text-transform: capitalize;
  }
  
  .booking-form .form-header p {
      color: #fff;
      font-size: 18px;
  }
  
  .booking-form .form-group {
      position: relative;
      margin-bottom: 20px;
  }
  
  .booking-form .form-control {
      background-color: #fff;
      height: 45px;
      padding: 0px 15px;
      color: #151515;
      border: 1px solid #e5e5e5;
      font-size: 16px;
      font-weight: 700;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 40px;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
  }
  
  .booking-form .form-control::-webkit-input-placeholder {
      color: #e5e5e5;
  }
  
  .booking-form .form-control:-ms-input-placeholder {
      color: #e5e5e5;
  }
  
  .booking-form .form-control::placeholder {
      color: #e5e5e5;
  }
  
  .booking-form .form-control:focus {
      background: #f8f8f8;
  }
  
  .booking-form input[type="date"].form-control:invalid {
      color: #e5e5e5;
  }
  
  .booking-form select.form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  
  .booking-form select.form-control:invalid {
      color: #e5e5e5;
  }
  
  .booking-form select.form-control option {
      color: #151515;
  }
  
  .booking-form select.form-control+.select-arrow {
      position: absolute;
      right: 3px;
      bottom: 5px;
      width: 32px;
      line-height: 32px;
      height: 32px;
      text-align: center;
      pointer-events: none;
      color: #e5e5e5;
      font-size: 14px;
  }
  
  .booking-form select.form-control+.select-arrow:after {
      content: '\279C';
      display: block;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
  
  .booking-form .form-label {
      color: #856849;
      text-transform: uppercase;
      line-height: 24px;
      height: 24px;
      font-size: 14px;
      font-weight: 400;
      margin-left: 20px;
  }
  
  .booking-form .form-btn {
      margin-top: 30px;
  }
  
  .booking-form .submit-btn {
      display: block;
      width: 100%;
      color: #fff;
      background-color: #745D20;
      font-weight: 700;
      font-size: 18px;
      border: none;
      border-radius: 40px;
      height: 55px;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
  }
  
  .booking-form .submit-btn:hover,
  .booking-form .submit-btn:focus {
      background-color: #745D20;
  }
  
  @media only screen and (max-width: 768px) {
      .booking-form .booking-bg {
          position: relative;
          left: 0;
          right: 0;
          bottom: 0;
          top: -15px;
          width: 100%;
          margin: auto;
      }
      .booking-form>form {
          margin-left: 0px;
      }
  }
  