

<div id="booking" class="section">


        
    <div class="section" style="padding-top:7%">

        <div class="container">
            <div class="row">
                <div class="booking-form">
                    
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Nombre : </span>
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Hora apertura: </span>
                                            <input class="form-control" type="time">
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Hora cierre: </span>
                                            <input class="form-control" type="time">
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Ciudad : </span>
                                            <select class="form-control">
                                                <option>Ciudad 1</option>
                                                <option>Ciudad 2</option>
                                                <option>Ciudad 3</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                
                               
                            </div>

                            <div class="col-md-4" style="background-color: #CEA660; margin:0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Municipio : </span>
                                            <select class="form-control">
                                                <option>Municipio 1</option>
                                                <option>Municipio 2</option>
                                                <option>Municipio 3</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Zona : </span>
                                            <select class="form-control">
                                                <option>Zona 1</option>
                                                <option>Zona 2</option>
                                                <option>Zona 3</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">

                                    <div class="form-group">
                                        <span class="form-label">Imagen : </span>
                                        <div class="custom-file">
                                        
                                           
                                              <input type="file"  class="form-control"  style="background-color: white;" accept="image/png,image/jpg">
                                          </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <img src="assets/images/16-el-tenedor-ideas-para-abrir-un-restaurante-exitoso.jpg" class="col-md-6 col-auto" alt="">
                                </div>
                              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Ubicacion :</span>
                                    <div class="custom-file" >
                                        <div id="mapa-mapbox" style="height: 480%;"></div>   
                                      </div>
                                   
                                </div>
                                <div class="form-btn">
                                    <button class="submit-btn">Registrar</button>
                                </div>
                            </div>
                        </div>
                       
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>



