<div *ngFor="let item of data">
  <div class="">
    <button class="btn-back mt-3 ml-5" (click)="Volver()"> <i class="bi bi-arrow-left-circle"></i> &nbsp;Volver</button>
    <div class="row m-5">
      <div class="" style="display: flex;
        align-items: flex-end;">
        <img src="https://via.placeholder.com/200x100/333333" alt="" width="450px">
      </div>
      <div class="col">
        <div class="title-section">
          <p class="title">{{item.name}}</p>
          <a (click)="Favoritos()" [ngClass]="{liked: isFavorite}" class="heart-like-button"></a>
        </div>
        <div class="" style="display: flex;
        /* justify-content: space-between; */
        align-items: center;">

          <div class="description">
            <p class="clasificacion">
              <input [(ngModel)]="currentRate" id="radio1" type="radio" name="estrellas" value="5">
              <!--
                    --><label for="radio1">★</label>
              <!--
                    --><input [(ngModel)]="currentRate" id="radio2" type="radio" name="estrellas" value="4">
              <!--
                    --><label for="radio2">★</label>
              <!--
                    --><input [(ngModel)]="currentRate" id="radio3" type="radio" name="estrellas" value="3">
              <!--
                    --><label for="radio3">★</label>
              <!--
                    --><input [(ngModel)]="currentRate" id="radio4" type="radio" name="estrellas" value="2">
              <!--
                    --><label for="radio4">★</label>
              <!--
                    --><input [(ngModel)]="currentRate" id="radio5" type="radio" name="estrellas" value="1">
              <!--
                    --><label for="radio5">★</label>
            </p>
          </div>
          <button (click)="Rankin()" class="btn-qa"><i class="bi bi-send"></i> Enviar Calificación</button>
        </div>
        <strong>Descripcion: </strong>
        {{item.description}}
      </div>
    </div>
  </div>

</div>
<div class="comment-section">

  <p class="sub-title ml-5">Añade un comentario:</p>
  <div class="comment-input mx-5">
    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="80"
      height="80" class="rounded-circle">
    <input [(ngModel)]="textDescription" type="textarea" class="textarea"
      placeholder="Ingrese su comentario acerca del servicio">
  </div>
  <button class="btn-cmm" [ngClass]="disableButton() ? 'btn-qa-disabled' : ''" [disabled]="disableButton()"
    (click)="Calificar()">ENVIAR</button>
</div>
<br>
<hr>
<div class="mx-5">
  <p class="title">Comentarios</p>
  <app-comment-list></app-comment-list>
</div>
