<div class="d-flex align-items-center justify-content-center">
<h1>CALIFICAR PRODUCTO</h1>
</div>

<div class="form-group col-md-12 d-flex align-items-center justify-content-center">
    <div *ngFor="let item of data">
        <label ><strong>{{item.name}}</strong></label>
        <br>
        <br>
        <img src="https://via.placeholder.com/200x100/333333" alt="">
        <br>
        <br>
        <label ><strong>{{item.description}}</strong></label>
        <!-- <label >{{item.id_business}}</label> -->
        <br>
        <br>
        <input [(ngModel)]="textDescription" type="text" class="form-control " placeholder="Ingrese su comentario acerca del producto ">
        <br>
        <br>
        <button class="btn btn-danger"> ACEPTAR</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-warning"> VOLVER</button>
    </div>
    <!-- <table class="table table-hover">
        <tbody>
            <tr *ngFor="let item of data">
                <td class="product">
                    <strong>{{item.name}}</strong><br>
                    <strong>{{item.description}}</strong>
                </td>
                <br>
                
                <td class="number text-center">{{item.id_business}}</td>
                <br>
                <td class="input-group">
                    <input [(ngModel)]="textDescription" type="text" class="form-control " placeholder="Ingrese su comentario acerca del producto ">
                </td>    
            </tr>

        </tbody>
    </table> -->
</div>