.swal2-styled.swal2-confirm {
  color: #000000;
  border: 1px solid #020202 !important;
}
.swal2-styled.swal2-cancel {
  color: #000000;
  border-color: #020202;
  border: 1px solid #020202 !important;
}
