
<router-outlet></router-outlet>
<div class="page-holder align-items-center py-4 bg-gray-1000 vh-100" style="background-color: #FBC78D">
  <div class="container" style="position: absolute;
  top: 20%;
  left: 30%;">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4"  >
        <div class="card">
          <div class="card-header " style="background-color: #A7D676">
            <div class="card-heading text-primary" > <h1 style="color:#F9E2AE">Ingreso</h1>  </div>
          </div>
          <div class="card-body p-lg-5">

            <div class="body text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="red" class="bi bi-envelope-x" viewBox="0 0 16 16">
              <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
              <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0Z"/>
            </svg>
            <h6>Algo salio mal</h6>
            <h6>Tu correo electronico no pudo ser verificado, vuelve a ingresar los datos :(</h6>
            <button class="btn btn-primary" id="reenviar" type="button" style="background-color:#A7D676" name="reenviarSubmit">Reenviar correo</button>
            <br>
            <br>

            <button class="btn btn-success pull-right" routerLink="/"  style="background-color:#A7D676" >volver</button>

          </div>

        </div>
      </div>
      </div>



    </div>
  </div>

</div>

