<body>
  

<div class="container">
    <h1>LISTA DE COMENTARIOS </h1>
    
<div *ngIf="exist==0" >
    <br>
    <br>
    <h1> NO COMMENTS YET</h1>
</div>
<div *ngIf="exist>0" >
    <div class="container">

 
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col"># Comentario</th>
              
              <th scope="col">Message</th>
              <th scope="col">id business</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of comment">
                <td *ngIf="item.status==1">{{item.idComment}}</td>

                <td *ngIf="item.status==1">{{item.message}}</td>
                <td *ngIf="item.status==1">{{item.idBusiness}}</td>

            </tr>
          </tbody>

    </table>
</div>
</div>
<button class="btn btn-warning" (click)="Volver()"> VOLVER</button>
</div>
</body>