<body>
  <div *ngIf="exist==0">
    <h4>Aun no hay comentarios :(</h4>
  </div>
  <div *ngIf="exist>0">
    <div *ngFor="let item of commentView" >
    <div class="cont" *ngIf="item.status == 1">
     
      <img [src]="'https://ui-avatars.com/api/?background=random&size=80&rounded=true&name=U+'+item.idUser" />
      <div class="content" >
        <span class="name">Usuario {{item.idUser}}</span><br>
        <span class="id">
          business {{item.idBusiness}}
        </span><br>
        <span class="comment">{{item.message}}</span>
        <br>
        <div *ngIf="item.idUser == user">
        <button (click)="Editar(item)">Editar</button>
        <button (click)="Eliminar(item)">Eliminar</button>
      </div>
      </div>
    </div>
  </div>
    <!-- <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"># Comentario</th>
          <th scope="col">Message</th>
          <th scope="col">id business</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of comment">
          <td *ngIf="item.status==1">{{item.idComment}}</td>
          <td *ngIf="item.status==1">{{item.message}}</td>
          <td *ngIf="item.status==1">{{item.idBusiness}}</td>

        </tr>
      </tbody>

    </table> -->


  </div>
  <div class="mb-5"></div>
</body>
