<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="update-admin.component.css">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card register-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="https://cdn.andro4all.com/andro4all/2020/09/Google-Maps-para-Android.jpg?width=1200" alt="register" class="register-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <p class="register-card-title" >
               ACTUALIZAR INFORMACIÓN
                </p>
                <p class="register-card-subtitle">
                  ADMINISTRADOR
                </p>
              </div>
              <p class="register-card-description">Ingrese sus datos a ser modificados</p>
              <form [formGroup]="newAdminForm" (ngSubmit)="editProvider()">
                <div class="form-group">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="name"> Nombre Completo: </label>
                  <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder="" (keypress)="keyPressAlphaNumeric($event)">                  
                </div>
                <div class="form-group">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="email"> Correo Electrónico: </label>
                  <input type="text" name="email" id="email" formControlName="email"  class="form-control" placeholder="">
                </div>

                <div class="form-group">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username"> Usuario: </label>
                  <input type="text" name="username" id="username" formControlName="username" class="form-control" placeholder="" >
                </div>
                
                <div class="form-group">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="password"> Contraseña: </label>
                  <div id="is-relative">
                    <input type="password" name="password" id="password" formControlName="password" class="form-control" placeholder="" 
                    [type]="hide ? 'password':'text'">
                    <span id="icon">
                      <i class="material-icons" matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility': 'visibility_off'}} 
                       </i>
                    </span>
                  </div>
                </div> 

                <div class="form-group">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmpassword"> Confirmar contraseña: </label>
                  <div id="is-relative">
                    <input type="confirmpassword" name="confirmpassword" id="confirmpassword" formControlName="confirmpassword" class="form-control" placeholder="" 
                    [type]="hideconfirm ? 'password':'text'">
                    <span id="icon">
                      <i class="material-icons" matSuffix (click)="hideconfirm = !hideconfirm">
                        {{hideconfirm ? 'visibility': 'visibility_off'}} 
                       </i>
                    </span>
                  </div>
                </div>            
                  <input name="register" id="register" class="btn btn-block register-btn mb-4" type="submit"  value="Actualizar Datos">
                </form>
                <p class="register-card-footer-text">Todos los cambios serán guardados</p>
                
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
