
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
      <button class="sidebar-open btnsidebar" (click)="sidebarShow = !sidebarShow" style="float: left; margin: 10px;">
        <i class="material-symbols-outlined bi bi-list" style="font-size:20px;"> </i>
      </button>
        <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
          <button class="sidebar-close" (click)="sidebarShow = !sidebarShow">
            <i class="material-symbols-outlined bi bi-x-lg" style="font-size:20px;"> </i>
          </button>

          <div class="sidebar-content">
            <img src="assets/banner.png" style="height: 80px;">
              <h2 class="set-align"></h2>
              <p class="register-card-title" style="padding: 10px">
                Opciones
              </p>
              <div class="set-sidebar-text" [routerLink]="'/activeBusinessList'">
                <span class="material-symbols-outlined" style="display:inline-block; vertical-align:top;">
                  <i class="material-symbols-outlined bi bi-list-check" style="font-size:20px;"> </i>
                </span>
                &nbsp;  Negocios Activos
              </div>
              <div class="set-sidebar-text" [routerLink]="'/inactiveBusinessList'">
                <span class="material-symbols-outlined" style="display:inline-block; vertical-align:top;">
                  <i class="material-symbols-outlined bi bi-bookmark-x" style="font-size:20px;"> </i>
                </span>
                &nbsp; Negocios Inactivos
              </div>
              <div class="set-sidebar-text" [routerLink]="'/ownerList'">
                <span class="material-symbols-outlined" style="display:inline-block; vertical-align:top;">
                  <i class="material-symbols-outlined bi bi-person-check" style="font-size:20px;"> </i>
                </span>
                &nbsp; Dueños de negocios activos
              </div>
              <div class="set-sidebar-text" [routerLink]="'/inactiveOwnerList'">
                <span class="material-symbols-outlined" style="display:inline-block; vertical-align:top;">
                  <i class="material-symbols-outlined bi bi-person-x" style="font-size:20px;"> </i>
                </span>
                &nbsp; Dueños de negocios Inactivos
              </div>
              <div class="set-sidebar-text" [routerLink]="'/storeList'">
                <span class="material-symbols-outlined" style="display:inline-block; vertical-align:top;">
                  <i class="material-symbols-outlined bi bi-pin-map" style="font-size:20px;"> </i>
                </span>
                &nbsp; Zonas con afluencia de negocios
              </div>
              <div class="set-sidebar-text" [routerLink]="'/main'">
                <span class="material-symbols-outlined" style="display:inline-block; vertical-align:top;">
                  <i class="material-symbols-outlined bi bi-door-closed" style="font-size:20px;"> </i>
                </span>
                &nbsp; Cerrar sesión
              </div>
              <img src="assets/logo-menu.png" style="height: 140px; width:140px; display:block; margin:auto;">
          </div>
          
        </div>
  </div>
</nav>