
nav.navbar {
 
    z-index: 100
}
  
/*Título*/
.register-card-title {
    font-size: 25px;
    color: #483e47;
    font-weight: normal;
    text-align: center;
}
  
  
  .sidebar-open{
    
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
   
  }
  
  .btnsidebar{
    background-color: transparent;
    color: #A7D676;
    padding: 1px;
    margin: 1px;
  }
  
  .btnsidebar:hover{
    box-shadow: 2px 2px 5px gray;
  } 
  
  .sidebar-slider {
    border-radius: 0px 25px 25px 25px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #F9E2AE;
    transform: translateX(-100%);
    transition: ease-in-out 300ms transform;
    width: 300px;
    display:inline-block;
  }
  
  .sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
  }
  
  .sidebar-close {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #80A823;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    color: #745d20;
    font-size: 16px;
    padding: 10px;
    height: 100%;
    margin-top:66px;
    
  }
  
  .set-align{
    text-align: center;
  }
  
  .set-sidebar-text{
    padding: 11px;
  }
  
  .set-sidebar-text:hover{
    background-image: #A8DEE0;  
    background-image: -webkit-linear-gradient(to right, #A8DEE0);  
    background-image: linear-gradient(to right, #A8DEE0); 
    font: bold;
    color: black;
    text-shadow: #000000;
    border-left: 10px solid #80A823;
    cursor: pointer;
  }