<head>
    <link rel="stylesheet" href="nav.component.css" />
</head>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button class="sidebar-open btnsidebar" (click)="sidebarShow = !sidebarShow">
            Open Sidebar
          </button>
          <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
            <button class="sidebar-close" (click)="sidebarShow = !sidebarShow">x</button>
            <div class="sidebar-content">
                <h2 class="set-align"></h2>
                <div class="set-sidebar-text">Dashbord</div>
                <div class="set-sidebar-text">Home</div>
                <div class="set-sidebar-text">Profile</div>
                <div class="set-sidebar-text">Message</div>
                <div class="set-sidebar-text">Help</div>
                <div class="set-sidebar-text">Setting</div>
                <div class="set-sidebar-text">Sign Out</div>
            </div>
          </div>
    </div>
   
 
  </nav>