

<div class="container" id="principal">
    <div id="color-fondo">
        <div  novalidate >
            <div class="row mt-5">
                <div class="col-md-6 " id="datos-izquierda">
                    
                    <!-- <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                        </div>
                        <input [(ngModel)]="nombre_act" type="text" class="form-control"aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div> -->
                    <div class="form-group">
                        <label for="cantidad">Nombres negocios </label>
                        <select [(ngModel)]="negocioSeleccionado" (change)="buscar()" class="browser-default custom-select">
                        <option *ngFor="let i of negocios;" [ngValue]="i">{{i.name}}</option>
                        </select>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nuevo nombre</label>
                        <input [(ngModel)]="nuevo_nombre" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Deje vacio si no quiere actualizar">
                    </div>                      
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Descripcion</span>
                        </div>
                        <textarea [(ngModel)]="desc_act"  class="form-control" id="floatingTextarea2" style="height: 200px"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="cantidad">Tipo Negocio </label>
                        <select [(ngModel)]="tipo_act" class="browser-default custom-select">
                            <option [value]="tipo.idTypeBusiness" *ngFor="let tipo of listaTiposNegoocio;" [selected]="negocioSeleccionado.idTypeBusiness==tipo.idTypeBusiness">{{tipo.name}}</option>
                        </select>
                    </div>
                    <div class="form-switch">
                        <label for="flexSwitchCheckDefault" >Mostrar negocio</label>
                        <br>
                        <input [(ngModel)]="mostrar" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    </div>
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-primary" (click)="actualizarServicio()">Actualizar</button>
                </div>
                <div class="col-md-6 " id="lado-derecho">
                   <app-listado-sucursales-por-id></app-listado-sucursales-por-id>
                </div>
            </div>
        </div>
    </div>
</div>
  