@import 'material-icons/iconfont/material-icons.css';
body {
  font-family: "Karla", sans-serif;
  background-color: #e9dbbc;
  min-height: 100vh;
}
/*Forma de tarjeta*/  
.register-card 
{
  border: 50px;
  border-radius: 27.5px;
  overflow: hidden;
  background-color: #ffffff; 
}

/*Formato para la imagen*/
.register-card-img {
  border-radius: 0;
  position: absolute;
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; 
}

/*Borde para la tarjeta*/
.register-card .card-body {
  padding: 85px 60px 60px; 
}

/*Descripción*/
.register-card-description {
  font-size: 25px;
  color: #80A823;
  font-weight: normal;
  margin-bottom: 23px;
  text-align:center; 
}

/*Título*/
.register-card-title {
  font-size: 35px;
  color: #483e47;
  font-weight: normal;
  border-image: initial;
  border: 1px solid #745D20;
  text-align:center;
}

/*Subtítulo*/
.register-card-subtitle {
  font-size: 30px;
  color: #483e47;
  font-weight: normal;
  text-align:center;
}


.btn {
  background-color: #A7D676;
  border: none;
  color: black;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  animation-duration: 1s;
}

/*Cuando el cursor se pone en el botón de register*/
.btn:hover {
  border: none solid #F9E2AE;
  background-color: #F9E2AE;
  color: #483e47;
  font-weight: bold;
  border-radius: 8px;
}