
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="admin-home.component.css">
  </head>
  <body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
      <div class="container">
        <div class="card register-card">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="https://static.vecteezy.com/system/resources/previews/002/920/438/original/abstract-city-map-seamless-pattern-roads-navigation-gps-use-for-pattern-fills-surface-textures-web-page-background-wallpaper-illustration-free-vector.jpg" alt="register" class="register-card-img">
            </div>
            <div class="col-md-7" style="text-align: center;">
              <div class="card-body">
                <div class="brand-wrapper">
                  <p class="register-card-title" >
                 PÁGINA PRINCIPAL
                  </p>
                  <p class="register-card-subtitle">
                    ADMINISTRADOR
                  </p>
                </div>
                <p class="register-card-description">Funciones principales</p>
                <div class="brand-wrapper" style="height: 100px;">
                  <img src="https://cdn-icons-png.flaticon.com/512/1567/1567073.png" alt="logo" class="logo" style="width: 60px; height: 60px;">
                  <button type="button" class="btn btn-secondary" style="text-align: center; margin-left: 110px;" [routerLink]="'/activeBusinessList'">
                    &nbsp; LISTA DE NEGOCIOS ACTIVOS &nbsp;
                 </button> 
                </div>
                <div class="brand-wrapper" style="height: 100px;">
                  <img src="https://cdn-icons-png.flaticon.com/512/269/269099.png" alt="logo" class="logo" style="width: 60px; height: 60px;">
                  <button type="button" class="btn btn-secondary" style="text-align: center; margin-left: 110px;" [routerLink]="'/inactiveBusinessList'">
                    &nbsp; LISTA DE NEGOCIOS INACTIVOS &nbsp; 
                 </button> 
                </div>
                <div class="brand-wrapper" style="height: 100px;">
                  <img src="https://cdn-icons-png.flaticon.com/512/3170/3170748.png" alt="logo" class="logo" style="width: 60px; height: 60px;">
                  <button type="button" class="btn btn-secondary" style="text-align: center; margin-left: 110px;" [routerLink]="'/ownerList'">
                    &nbsp; LISTA DE DUEÑOS ACTIVOS &nbsp; 
                 </button> 
                </div>
                <div class="brand-wrapper" style="height: 100px;">
                  <img src="https://images.vexels.com/media/users/3/131263/isolated/preview/af6816ec67ec51da6b275a4aa08d236c-icono-de-circulo-de-bloqueo.png" alt="logo" class="logo" style="width: 60px; height: 60px;">
                  <button type="button" class="btn btn-secondary" style="text-align: center; margin-left: 110px;" [routerLink]="'/inactiveOwnerList'">
                    &nbsp; LISTA DE DUEÑOS INACTIVOS &nbsp; 
                 </button> 
                </div>
                <div class="brand-wrapper" style="height: 100px;">
                  <img src="https://www.iconpacks.net/icons/2/free-store-icon-2017-thumb.png" alt="logo" class="logo" style="width: 60px; height: 60px;">
                  <button type="button" class="btn btn-secondary" style="text-align: center; margin-left: 110px;" [routerLink]="'/storeList'">
                    ZONAS CON AFLUENCIA DE NEGOCIOS
                 </button> 
                </div>
                <div class="brand-wrapper" style="height: 100px;">
                  <img src="https://www.iconpacks.net/icons/1/free-pie-chart-icon-683-thumb.png" alt="logo" class="logo" style="width: 60px; height: 60px;">
                  <button type="button" class="btn btn-secondary" style="text-align: center; margin-left: 110px;" [routerLink]="'/dashboard-admin'">
                    PANEL DE GRÁFICAS DE NEGOCIOS
                 </button> 
                </div>
              </div>
              <p class="register-card-footer-text">¿Quiere modificar su información? <a href="/updateAdmin/1" class="text-reset">Presione Aquí</a></p>
            </div>
           
          </div>
        </div>
        
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>

<!-- attempt 2-->
  
