@import 'material-icons/iconfont/material-icons.css';
body {
  font-family: "Karla", sans-serif;
  background-color: #f3ede0;
  min-height: 100vh;
}

/*Forma de tarjeta*/  
.register-card 
{
  border: 50px;
  border-radius: 27.5px;
  overflow: hidden;
  background-color: #ffffff; 
}

/*Formato para la imagen*/
.register-card-img {
  border-radius: 0;
  position: absolute;
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; 
}

/*Borde para la tarjeta*/
.register-card .card-body {
  padding: 85px 60px 60px; 
}

/*Descripción*/
.register-card-description {
  font-size: 25px;
  color: #6b7a40;
  font-weight: normal;
  margin-bottom: 23px;
  text-align:center; 
}

/*Título*/
.register-card-title {
  font-size: 35px;
  color: #483e47;
  font-weight: normal;
  border-image: initial;
  border: 1px solid #745D20;
  text-align:center;
}

/*Subtítulo*/
.register-card-subtitle {
  font-size: 30px;
  color: #483e47;
  font-weight: normal;
  text-align:center;
}


/*Labels*/
.register-card .form-control {
  border: 1px solid #745D20;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 16px;
  line-height: 15;
  font-weight: normal; 
}


.input-wrapper {
  position: relative;
  width: 500px;
}

.icon-eye:before {
  content: "\e9ce";
}
/*Boton*/
.register-card .register-btn { 
  padding: 13px 20px 12px;
  background-color: #6b7a40;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px; 
}

/*Cuando el cursor se pone en el botón de register*/
.register-card .register-btn:hover {
  border: 1px solid #cea660;
  background-color: #cea660;
  color: #483e47; 
}


@media (max-width: 767px) {
  .register-card-footer-text {
      margin-bottom: 24px; 
  } 
}

.register-card-footer-nav a {
  font-size: 14px;
  color: #7d93aa; 
}
  

div#is-relative{
  max-width: 550px;
  position: relative;
}


#icon{
  position: absolute;
  display: block;
  bottom: .2rem;
  right: 1rem;
  
  user-select: none;
  cursor: pointer;
}
input.input{
  padding-right: 2.5rem;
}