<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Expansion panels</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <div class="row justify-content-center">
                <div class="brand-wrapper">
                  <p class="register-card-title" style="padding: 10px">
                    LISTA DE NEGOCIOS ACTIVOS
                  </p>
                </div>
              
                <div class="panel">
                <details *ngFor ="let item of zonebusiness">
                    <summary >
                    <ul >
                        <li class="titleName">{{item.name}}</li>
                        <li class="titleValue"> {{item.numberBusiness}}</li>
                    </ul>
                    </summary>
                    <div *ngFor ="let asd of item.listbusiness " class="content">
                        <p>
                            {{asd.name}}
                        </p>
                    </div>
                </details>  
            </div>
        </div>
        </div>
       
    </body>
</html>

