@import 'material-icons/iconfont/material-icons.css';
  body {
    font-family: "Karla", sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
  }
    


  /*Subtítulo*/
  .register-card-subtitle {
    font-size: 30px;
    color: #483e47;
    font-weight: normal;
    text-align:center;
  }
/*Caja para el título*/  
.register-card-title {
    font-size: 35px;
    color: #483e47;
    font-weight: normal;
    border-image: initial;
    text-align: center;
  }
  

p{
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 16px;
    
 }
div.panel{
    max-width: 90%;
    margin: auto;
    margin-top: calc(1% - 0px);
}
details{
    background:#fff;
    
    border-bottom:1px solid #e0e0e0;
      box-shadow:0 0 2px #A7D676,0 2px 4px rgba(0,0,0,0.24);
    display:flex; }

details div.content{
    padding:0px 24px 24px 24px;
}
/*Second Icon*/
details[open] summary:after {
    color: #3d4627;
    content: "switch_access_shortcut";
    font-family: 'Material Icons';
}

details[open]{
    margin-top:16px;
    margin-bottom:16px;
    border:none;
    border-radius: 2px;
}

details[open]:first-child{
    margin-top:0;
    margin-bottom:16px;
    border:none;
}
details[open]:last-child{
    margin-top:16px;
    margin-bottom:0px;
    border:none;
}
/*Zones*/
summary{
    outline:none;
    cursor: pointer;
    padding: 16px 24px;
    color:#745D20;
    position: relative;
    font-size: 18px;

}
summary:hover{
    background:#e0b364a8;
}

details[open] summary:hover{
    background:none;
}
summary ul {
    padding-left: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
summary ul li{
     flex: 1 100%;
     flex-flow: row wrap;
}
summary ul li span{
      display: block;
      font-size: 12px;
      margin-top: 6px;
      opacity: .75;
}
summary::-webkit-details-marker {
    display: none;
}
/*Icon*/
summary::after { 
    content: "ads_click";
    font-family: 'Material Icons';
    color: #A7D676;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
    margin-top: 0;
    position: absolute;
    top: calc(50% - 12px);
    bottom: 0;
    right: 0;
    width: 6%;
}  


.titleValue{ color: #000000; }  
 time{ color: #757575; opacity: .75; }  
.list-unstyled { margin-top:15px; padding-left: 0; list-style: none;}
.list-unstyled li{ margin-bottom:6px; }


.btn {
    background-color: #A7D676;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    animation-duration: 1s;
  
}

/*Cuando el cursor se pone en el botón */
.btn:hover {
    border: none solid #cea660;
    background-color: #cea660;
    color: #483e47; 
    border-radius: 8px;
  }



