<!doctype html>
<html lang="en">
  <head>
  	<link rel="stylesheet" href="store-list.component.css">
    </head>
	<div class="brand-wrapper">
        <p class="register-card-title" style="padding: 10px">
          LISTA DE NEGOCIOS 
        </p>
      </div>
      
    <body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>ID tiendas.</th>
						      <th>Nombre</th>
						      <th>Numero de tiendas</th>
                              <th>Sucursales</th>

						      
						    </tr>
						  </thead>
						  <tbody>
						    <tr *ngFor ="let item of zonebusiness" class="alert" role="alert">
                                <td>{{item.zone_business}}</td> 
                                    <td>{{item.name}}</td>
                                    <td>{{item.numberBusiness}}</td>
                                <td>
                                    <div *ngFor ="let asd of item.listbusiness "> {{asd.name}}</div>    
                                </td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

