<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Cards - Tarjetas con efecto Hover</title>
	<link rel="stylesheet" href="main.component.css">
</head>
<body>
	<!--   Tarjetas-->
<div class="title-cards">
		<h2>Servicios que Ofrecemos</h2>
	</div>
<div class="container-card">

<div class="card">
	<figure>
		<img src="assets/ima2.jpg">
	</figure>
	<div class="contenido-card">
		<h3>Modulo Cliente</h3>
		<p>Ingresa y vive la experiencia como usuario cliente que ofrece nuestra pagina.</p>
		<a href="#">Ingresar</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="assets/ima3.jpg">
	</figure>
	<div class="contenido-card">
		<h3>Modulo Servicio</h3>
		<p>Ingresa y ten acceso completo a nuestra pagina modulo de servicio.</p>
		<a href="#">Ingresar</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="assets/ima1.png">
	</figure>
	<div class="contenido-card">
		<h3>Modulo Administrador</h3>
		<p>Tendremos acceso a todos los privilegios como administrador en nuestra pagina.</p>
		<a [routerLink]="'/adminHome'">Ingresar</a>
	</div>
</div>
</div>
<!--Fin   Tarjetas-->

</body>

<!--
    <button mat-button [routerLink]="'/main/updateBusiness/1'" color="primary">Modulo Cliente</button>
<button mat-button color="primary">Modulo Servicios</button>
<button mat-button color="primary">Modulos Administrador</button>

-->
