<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="main.component.css">
</head>
<body>
	<!--   Tarjetas-->
<div class="title-cards">
	<div class="brand-wrapper">
		<p class="register-card-title" style="padding: 10px">
		  MÓDULOS DE LA APLICACIÓN DISPONIBLES
		</p>
		<div style="height: 30px;"></div>
		<p class="register-card-description">
			Seleccione un módulo para ver sus funcionalidades
		  </p>
	</div>
</div>
<div class="container-card">

<div class="card">
	<figure>
		<img src="assets/ima2.jpg">
	</figure>
	<div class="contenido-card">
		<h3>Modulo Cliente</h3>
		<p>Ingresa y vive la experiencia como usuario cliente que ofrece nuestra pagina.</p>
		<a href="#">Ingresar</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="assets/ima3.jpg">
	</figure>
	<div class="contenido-card">
		<h3>Modulo Servicio</h3>
		<p>Ingresa y ten acceso completo a nuestra pagina modulo de servicio.</p>
		<a href="#">Ingresar</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="assets/ima1.png">
	</figure>
	<div class="contenido-card">
		<h3>Modulo Administrador</h3>
		<p>Tendremos acceso a todos los privilegios como administrador en nuestra pagina.</p>
		<a [routerLink]="'/adminHome'">Ingresar</a>
	</div>
</div>
</div>
<!--Fin   Tarjetas-->

</body>

<!--
    <button mat-button [routerLink]="'/main/updateBusiness/1'" color="primary">Modulo Cliente</button>
<button mat-button color="primary">Modulo Servicios</button>
<button mat-button color="primary">Modulos Administrador</button>

-->
