*{
    font-size: 18px   ;
}
#principal{
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10vw ;
}
#share-buttons a i{
    font-size: 100px;
}
#share-buttons{
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}
#img-pagina{
    width: auto;
    overflow: hidden;
}
