@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
*{
    /* --color1:#745d20; */
    /* --color2:#cea660;
    --color3:#f3ede0; */
    /* --color4:#6b7a40; */
    --color1:#85cbcc;
    --color2:#fbc78d;
    --color3:#f9e2ae;
    --color4:#a7d676;
    --color5:#a8dee0;
    --colortext1:#f3ede0;
    --colortext2:black;
    --text1:40px;
    --text2:20px;
    --text3:10px;
}

html,body{
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
}
body { margin: 0;}

html, body { height: 100%; }
body { margin: 0;}


input.star:checked ~ label.star:before {
    color: var(--color2) !important;
    text-shadow: none !important;
    font-size: 36px;
  }
  input.star ~ label.star:before {
    text-shadow: none !important;
    font-size: 36px;
  }

  @media(max-width:600px){

    input.star:checked ~ label.star:before {
        color: var(--color2) !important;
        text-shadow: none !important;
        font-size: 16px;
    }
    input.star ~ label.star:before {
        text-shadow: none !important;
        font-size: 16px;
      }
  }
