<body>
  

    <div class="container">
        <h1>LISTA DE FAVORITOS </h1>
        

       

    <div  *ngIf="exist==0" >
        <br>
        <br>
        <h1> NO FAVORITES YET</h1>
    </div>  


    

    <div  *ngIf="exist>0">
        <div class="container">
    
     
        <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col"># Comentario</th>
                  
                  <th scope="col">Message</th>
                  <th scope="col">id business</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ratingData">
                    <td *ngIf="item.favoriteStatus==true">{{item.idRating}}</td>
    
                    <td *ngIf="item.favoriteStatus==true">{{item.score}}</td> 
                     <td *ngIf="item.favoriteStatus==true">{{item.favoriteStatus}}</td>
    
                </tr>
              </tbody>
    
        </table>
    </div>
    </div>
    <!-- <button class="btn btn-warning" (click)="Volver()"> VOLVER</button> -->
    </div>
    </body>
