body{
    background-color: #F9E2AE;
}
#resultTable{
    background-color: #85CBCC;
}
#containTable{
    background-color: #A7D676;
}
h2{
    color: #FFFFFF;
    font-weight: bold;
}
#nameText{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}