<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<br>
<br>


<div class="container-lg border bg-light">
    <div class="row px-md-12">
        <div class="p-3 ">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-md-5" type="search" placeholder="Nombre del Negocio">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
            </form>
        </div>

        <div class="p-3 ">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Tipo del Negocio">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
            </form>
        </div>
    </div>

    
</div>
<br>
<div class="container-lg">
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">STOCK</th>
                <th scope="col">SUCURSAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th>prueba</th>
                <th>15</th>
                <th>5</th>
            </tr>
        </tbody>
    </table>
</div>


