.title {
  font-size: 36px;
  font-weight: 900;
  color: #ffffff;
}

.sub-title {
  font-size: 26px;
  font-weight: 700;
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-my-favs {
  background-color: #ec7070;
  color: white;
  border-radius: 50px;
}

.btn-my-favs:hover {
  background-color: #a7d676;
  color: white;
}

.search-sec {
  padding: 2rem;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.search-section {
  position: relative;
}
.search-slt {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  width: 100%;
  font-size: 16px;
  color: #55595c;
  background-color: #fff;
  height: 3rem;
  border-radius: 50px;
}
.src-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 900;
  height: 3rem;
  border-radius: 50px;
  border: 0;
  background-color: #a7d676;
  color: white;
}

.src-btn:hover {
  background-color: #83ab23;
  color: white;
}

.service_title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.service_sub-title{
  font-size: 16px;
  font-weight: 300;
  color: #646464;
}